.form-footer {
  p {
    margin: 0;
    line-height: 1.2;
  }

  button,
  .button,
  input[type="submit"] {
    margin: 0;
  }

  .wpcf7-list-item {
    margin: 0;
    user-select: none;
  }

  .form-footer-button {
    flex: 1 1 100%;
    display: block;
    margin: 2em 0 0;
  }

  @media (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;

    .form-footer-button {
      @include flex-width(8.5em);

      margin: 0 0 0 2em;
      text-align: right;
    }

    .form-footer-text {
      flex: 1 1 5em;
      margin: auto;

      p {
        display: block;
      }
    }
  }
}

.section-form {
  button {
    margin: 1em 0 0;
  }

  span.label {
    font-weight: 700;
  }

  .textarea-wrap {
    span.label {
      display: none;
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    margin: 1em -0.5em 0;
    position: relative;

    .wpcf7 {
      .screen-reader-response {
        display: none;
      }

      &-spinner {
        @include position(absolute, 1, calc(50% - 12px), 0, auto, calc(50% - 12px));
      }

      &-not-valid-tip {
        background: $error;
        color: $white;
        padding: 0.5em 1em;
        border-radius: 0 0 0.5em 0.5em;
        font-weight: 700;
      }

      &-response-output {
        flex: 1 1 100%;
        text-align: center;
        color: $white;
        font-family: $font;
        font-weight: 700;
        background: $black;
        border: 0.125em solid $white;
        padding: 0.5em 1em;
        border-radius: 0.5em;
      }

      &-display-none {
        display: none;
      }

      &-checkbox {
        label {
          display: block;
          padding: 0 0 0 1.75em;
          margin: 0;
          font-weight: 700;
        }

        input[type="checkbox"] {
          @include position(absolute, 1, 0, auto, auto, 0);

          appearance: none;
          display: block;
          width: 1.25em;
          height: 1.25em;
          border: 0.125em solid $black;
          background: transparent;
          color: currentcolor;

          &::before {
            @include position(absolute, 1, 0, auto, auto, 0.125em);

            content: "\f00c";
            font-family: "Font Awesome 6 Free", serif;
            font-weight: 900;
            opacity: 0;
            transition: all 300ms ease;
          }

          &:checked {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }

    &.submitting {
      .field-wrap:not(.form-footer) {
        opacity: 0.1;
      }

      .form-footer {
        .form-footer-text {
          opacity: 0.1;
        }

        .form-footer-button input {
          opacity: 0.1;
        }
      }
    }

    &.sent {
      .wpcf7-response-output {
        background: $success;
        border-color: $white;
      }
    }

    &.invalid {
      .wpcf7-response-output {
        background: $error;
        border-color: $white;
      }
    }

    .ajax-loader {
      @include position(absolute, 1, calc(50% - 12px), calc(50% - 12px), auto, auto);

      display: block;
      margin: 0;
    }
  }

  &.knockout {
    form {
      .wpcf7 {
        &-checkbox {
          input[type="checkbox"] {
            border-color: $white;
          }
        }
      }
    }
  }
}
