.banner-slide {
  height: auto;
  min-height: calc(100vh - 8.375em);

  @media (min-width: $screen-md) {
    height: 100vh;
  }

  .overlay {
    display: grid;
    align-items: center;
    height: 100%;

    @media (min-width: $screen-md) {
      @include position(absolute, 2, 0);
    }
  }

  .section {
    place-self: center;
  }
}
