.menu-toggle {
  @include flex-width(1.5em);

  margin: 0;
  cursor: pointer;

  @media (min-width: $screen-md) {
    display: none;
  }

  i {
    background: $grey;
    border-radius: 0.5em;
    display: block;
    height: 0.125em;
    margin-bottom: 0.25em;
    transition: all 300ms ease;

    &:last-of-type {
      margin: 0;
    }

    &:nth-child(1) { margin-left: 50%; }
    &:nth-child(3) { margin-right: 50%; }
  }

  &:hover {
    i {
      background: $primary;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .menu-open & {
    i {
      background: $secondary;
      margin-left: 0;
      margin-right: 0;

      &:nth-child(2) {
        opacity: 0;
        transform: rotateY(90deg);
      }

      &:nth-child(1) {
        transform: rotate(45deg) translate(0.2em, 0.45em);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.1em, -0.3em);
      }
    }
  }
}

.menu-mobile {
  @include position(fixed, 2, 0);

  transition: all 300ms ease;
  transform: translateX(100%);

  @media (min-width: $screen-md) {
    display: none;
  }

  .menu-open & {
    transform: none;
  }

  .menu-inner {
    height: 100%;
    overflow-y: auto;
  }

  .nav-footer-wrap {
    padding-top: 6.375em;
  }
}
