body.menu-open {
  overflow: hidden;
  max-height: 100%;
}

.close-menu {
  @include position(fixed, -1, 0);

  background: rgba($black, 0.5);
  transition: opacity 300ms ease;
  opacity: 0;

  .menu-open & {
    @media (max-width: $screen-sm-max) {
      z-index: 3;
      opacity: 1;
    }
  }
}

.wrapper {
  .menu-open & {
    @media (max-width: $screen-sm-max) {
      transform: translateX(-$offCanvasWidth);
    }
  }
}

.menu-toggle {
  @include flex-width(1.5em);

  margin: 0;
  outline: none;
  cursor: pointer;

  @media (min-width: $screen-md) {
    display: none;
  }

  i {
    background: $grey;
    border-radius: 0.5em;
    display: block;
    height: 0.125em;
    margin-bottom: 0.25em;
    transition: all 300ms ease;

    &:last-of-type {
      margin: 0;
    }

    &:nth-child(1) { margin-left: 50%; }
    &:nth-child(3) { margin-right: 50%; }
  }

  &:hover {
    i {
      background: $primary;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .menu-open & {
    i {
      background: $secondary;
      margin-left: 0;
      margin-right: 0;

      &:nth-child(2) {
        opacity: 0;
        transform: rotateY(90deg);
      }

      &:nth-child(1) {
        transform: rotate(45deg) translate(0.2em, 0.45em);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.1em, -0.3em);
      }
    }
  }
}

.menu-mobile {
  @include position(fixed, 4, 0, 0, 0, auto);

  transition: all 300ms ease;
  transform: translateX(100%);
  width: $offCanvasWidth;

  @media (min-width: $screen-md) {
    display: none;
  }

  .menu-open & {
    transform: none;
  }

  .menu-inner {
    height: 100%;
    overflow-y: auto;

    @media (min-width: $screen-sm) {
      padding-top: 0;
    }
  }

  .brand-icon {
    margin: 0 0 1.5em;
  }
}
