* {
  box-sizing: border-box;
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-font-smoothing: subpixel-antialiased;
  /* stylelint-enable property-no-vendor-prefix */
  backface-visibility: hidden; // removes jagged edges on rotated elements
}

@each $label, $value in $breakpoints {
  .min-#{$label} {
    @media (min-width: $value) {
      display: none;
    }
  }

  .max-#{$label} {
    @media (max-width: ($value - 0.0625)) {
      display: none;
    }
  }
}

::selection {
  color: $white;
  background: $secondary;

  .bg-secondary & {
    background: $primary;
  }
}

@each $color, $hex in $colors {
  @include color_classes($color, $hex);
  @include generate_button_colors($color, $hex);
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body,
html {
  margin: 0;
  padding: 0;
  background: $white;
}

html {
  font-size: 16px;
}

.feat-placeholder {
  padding-top: $tileAspectRatio;
}

svg {
  fill: currentcolor;
}

img,
figure,
iframe {
  max-width: 100%;
  height: auto;
  border: none;
}

.wrapper {
  transition: all 300ms ease;
}

.section {
  padding: $sectionSmall 0;

  @media (min-width: $screen-md) {
    padding: $sectionMedium 0;
  }

  @media (min-width: $screen-lg) {
    padding: $sectionLarge 0;
  }

  &-smallest { padding: $sectionSmallest 0; }
  &-smaller { padding: $sectionSmaller 0; }
  &-small { padding: $sectionSmall 0; }
  &-medium { padding: $sectionMedium 0; }
  &-large { padding: $sectionLarge 0; }

  &-zero-top { padding-top: 0; }
  &-zero-bottom { padding-bottom: 0; }
}

.container {
  width: 90%;
  margin: auto;
  max-width: $containerLarge;

  // &-large { max-width: $containerLarge; }
  &-medium { max-width: $containerMedium; }
  &-small { max-width: $containerSmall; }
  &-narrow { max-width: $containerNarrow; }
}

.inner {
  padding: $innerMedium;

  &-small { padding: $innerSmall; }
  &-large { padding: $innerLarge; }
}

.rounded {
  border-radius: $borderRadius;

  &-top {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-bottom {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.border {
  border-style: solid;
  border-width: $borderWidth;

  &-thin { border-width: 0.0625em; }
  &-regular { border-width: $borderWidth; }
  &-thick { border-width: $borderThick; }
  &-thicker { border-width: $borderThicker; }

  &-top {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
  }

  &-right {
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
  }

  &-bottom {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
  }

  &-left {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
  }
}

.brand {
  display: block;
  width: $brandWidth;
  height: auto;

  img {
    width: 100%;
  }

  &.brand-icon {
    width: 5em;
  }
}

.bg-pattern {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    @include position(absolute, 0);

    content: "";
    background-attachment: fixed;
    background-size: 11.875em;
    background-position: center;
  }

  &-white {
    &::before {
      background-image: url("~/images/pattern-book-white.png");
      opacity: 0.05;
    }
  }

  &-black {
    &::before {
      background-image: url("~/images/pattern-book-black.png");
      opacity: 0.02;
    }
  }
}

.align {
  &-centre {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.bg-default {
  background-color: $grey-lightest;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;

  &-align-left {
    justify-content: flex-start;
  }

  &-align-centre {
    justify-content: center;
  }

  &-align-right {
    justify-content: flex-end;
  }

  &-item {
    position: relative;
    flex: 0 0 100%;
    margin: 0.5em;

    @media (min-width: $screen-xs) {
      @include flex-width(calc(50% - 1em));
    }

    @media (min-width: $screen-sm) {
      .grid-3 &,
      .grid-6 & {
        @include flex-width(calc(33.33% - 1em));
      }
    }

    @media (min-width: $screen-md) {
      margin: 0.75em;

      .grid-2 & {
        @include flex-width(calc(50% - 1.5em));
      }

      .grid-3 &,
      .grid-6 & {
        @include flex-width(calc(33.33% - 1.5em));
      }

      .grid-4 & {
        @include flex-width(calc(25% - 1.5em));
      }

      .grid-5 & {
        @include flex-width(calc(20% - 1.5em));
      }

      .grid-6 & {
        @include flex-width(calc(16.667% - 1.5em));
      }
    }
  }
}
