.content-info {
  background-image: url("~/images/bg-footer.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 20vw;
  container-type: inline-size;
  container-name: extended-nav;

  @media (min-width: $screen-xs) {
    background-size: auto 15vw;
  }

  @media (min-width: $screen-sm) {
    background-size: auto 10em;
  }

  .brand {
    margin: 0 0 1em;

    @media (min-width: $screen-md) {
      flex: 0 0 5em;
    }

    @media (min-width: $screen-lg) {
      width: 10em;
      flex: 0 0 10em;
    }
  }

  >.container {
    @media (min-width: $screen-md) {
      display: flex;
      gap: 2em;
    }

    @media (min-width: $screen-lg) {
      gap: 5em;
    }
  }
}

.nav-legal {
  display: inline-block;
  padding: 0.5em 0 0;
  margin: 0.675em 0 0;
  border: 0 solid rgba($white, 0.3);
  border-width: 1px 0 0;

  li {
    display: inline-block;
    margin: 0 0.5em 0 0;

    &::before {
      content: "\2022";
      margin-right: 0.675em;
    }

    &:first-of-type {
      &::before {
        content: none;
      }
    }
  }

  @media (min-width: $screen-xs) {
    display: inline-block;
    padding: 0 0 0 1em;
    margin: 0 0 0 1em;
    border-width: 0 0 0 1px;
  }
}

.subfooter {
  p {
    margin: 0;
  }

  span {
    display: inline-block;
  }

  .copyright,
  .nav-legal {
    font-size: 0.75em;
  }

  .copyright {
    @media (min-width: $screen-xs) {
      display: inline-block;
    }
  }
}

.nav-footer-wrap {
  flex: 1;

  .snazzycp-social {
    a {
      font-size: 1.5em;
    }
  }

  .snazzycp-contact-info {
    span {
      display: block;
    }
  }

  .menu-item {
    > a {
      display: block;
      font-size: 1.25em;
      font-weight: 700;
      padding: 0.25em 0;
    }
  }

  .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0 0 1em;

    li {
      display: block;

      > a {
        padding: 0.125em 0;
        font-size: 1em;
        font-weight: 400;
      }
    }
  }

  .nav-footer {
    > li {
      &.menu-divider {
        width: 0;
        height: 1em;

        a {
          display: none;
        }
      }
    }

    .content-info & {
      @media (max-width: $screen-xs-max) {
        height: auto;

        >li:not(.menu-contact-details) {
          display: none;
        }
      }
    }

    @container extended-nav (min-width: 30em) {
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
      height: 22em;

      > li {
        flex: 0 0 4;

        &.menu-divider {
          flex: 0 0 100%;
          height: auto;
        }

        &.divider-contact {
          flex: 0 1 auto;
          height: 2em;
        }
      }
    }

    @container extended-nav (min-width: 51em) {
      height: 12em;

      > li {
        padding: 0 2em 0 0;

        &.menu-item-has-children,
        &.divider-contact {
          flex: 0 0 100%;
        }

        &.menu-divider {
          padding: 0;
        }

        &.menu-contact-details {
          width: 12em;
          padding: 0;
        }
      }
    }

    @container extended-nav (min-width: 62em) {
      > li {
        &.menu-item-has-children {
          padding: 0 3em 0 0;
        }
      }
    }

    @container (min-width: 75em) {
      padding-top: 1em;
    }
  }
}

.menu-contact-details {
  h4 {
    font-family: $font2;
    font-weight: 400;
    color: $secondary-light;
  }
}
