.banner {
  position: relative;

  h1 {
    @media (min-width: $screen-md) {
      font-size: 4em;
    }
  }

  .wysiwyg {
    @media (min-width: $screen-sm) {
      font-size: 1.25em;
    }

    @media (min-width: $screen-md) {
      font-size: 1.5em;
    }

    p {
      font-weight: 700;
    }
  }

  &.has-image {
    &::before {
      content: none;
    }

    .overlay {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      @media (min-width: $screen-sm) {
        @include position(absolute, 2, 0);
      }

      .section {
        flex: auto;
      }
    }
  }

  &-video,
  &-image {
    @include position(absolute, 1, 0);

    @media (min-width: $screen-sm) {
      position: static;
    }

    img {
      @include position(absolute, 1, 0);

      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (min-width: $screen-sm) {
        position: static;
      }
    }

    .feat-placeholder {
      padding-top: 0;
    }
  }

  &.no-excerpt {
    h1 {
      margin-bottom: 0;
    }
  }

  .grid-post-image {
    &::before {
      @media (min-width: $screen-sm) {
        padding-top: 40%;
      }

      @media (min-width: $screen-md) {
        padding-top: 30%;
      }

      @media (min-width: $screen-lg) {
        padding-top: 20em;
      }
    }

    &-border {
      bottom: -1.5vw;
    }

    .feat-image,
    .feat-placeholder {
      @media (min-width: $screen-sm) {
        mask-size: 100% auto;
        mask-position: bottom;
      }
    }

    .feat-placeholder {
      padding: 0;
    }

    .placeholder-portrait-image,
    .portrait-image {
      font-size: 50vw;
      border-width: 0.5rem;
      background: $black;

      @media (min-width: $screen-sm) {
        font-size: 20em;
        bottom: -2rem;
      }
    }
  }
}
