.breadcrumb-wrap {
  position: sticky;
  top: 8.3519em;
  z-index: 899;
  transition: all 300ms ease;

  @media (min-width: $screen-md) {
    top: 12.6531em;
  }

  .scrolled.going-down & {
    top: 0;
  }

  ul {
    font-size: 0.8em;

    li {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 15em;
      color: $grey-lighter;

      a {
        color: $grey;

        &:hover {
          color: $secondary;
        }
      }

      &::after {
        content: "/";
        display: inline-block;
        margin: 0 0.5em 0 0.875em;
      }

      &:last-of-type {
        a {
          color: $grey-light;
        }

        &::after {
          content: none;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    font-size: 1em;
  }
}
