textarea {
  min-height: 10.375em;
}

input,
textarea {
  color: $grey;
  background: white;
  font-weight: 400;
  font-size: 1em;
  font-family: $font;
  width: 100%;
  padding: 0.875em 1em;
  margin: 0 0 1em;
  // border-radius: 0.125em;
  border: 0.0625em solid rgba($black, 0.1);
  outline: none;
  transition: all 300ms ease;

  &::placeholder {
    color: $grey-light;
  }

  &:focus {
    box-shadow: 0 0.25em 0.5em rgba($black, 0.1);
  }
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  margin: 0;
  width: auto;

  &:focus {
    box-shadow: none;
  }
}

select {
  width: 100%;
}

.field-wrap {
  flex: 1 1 calc(100% - 1em);
  margin: 0 0.5em;
  transition: all 300ms ease;

  p {
    display: flex;
    flex-wrap: wrap;
  }

  label {
    @include flex-width(100%);

    order: -1;
  }

  textarea,
  input {
    flex: 1 1 100%;
    margin: 0;
  }

  /* stylelint-disable selector-class-pattern */
  .mce_inline_error {
    @include flex-width(100%);

    margin: 0;
    font-family: $font;
  }
  /* stylelint-enable selector-class-pattern */

  @media (min-width: $screen-sm) {
    &.half {
      @include flex-width(calc(50% - 1em));
    }
  }
}
