/* stylelint-disable no-descending-specificity */

.nav-secondary {
  li {
    margin-left: 0.5em;

    @media screen {
      a {
        color: rgba($white, 0.7);
      }
    }

    &:hover,
    &.active {
      a {
        @media screen {
          color: $white;
        }
      }
    }

    &.active {
      a {
        font-weight: 700;
      }
    }
  }
}

.nav-primary {
  li {
    margin-right: 0.5em;

    a {
      color: $primary;
      font-weight: 700;
      font-size: 1.25em;
    }

    &:hover,
    &.active {
      a {
        color: $secondary;
      }
    }

    &::before {
      content: "\2022";
      margin-right: 0.675em;
      color: $secondary;
    }

    &:first-of-type {
      &::before {
        content: none;
      }
    }

    &:last-of-type {
      margin: 0 0 0 0.5em;

      &::before {
        content: none;
      }

      a {
        @extend %button;
        @extend %secondary;
      }

      &.active {
        a {
          color: white;
        }
      }
    }
  }
}

.menu-fixed {
  position: sticky;
  top: 0;
  z-index: 2;
  transition: 300ms ease all;

  .going-down & {
    transform: translateY(-100%);
  }

  .menu-open & {
    @media (max-width: $screen-sm-max) {
      transform: none;
    }
  }

  .topbar,
  .bottombar {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-menu {
      flex: auto;
      text-align: right;

      li {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .topbar {
    @media (max-width: $screen-sm-max) {
      height: 0.25em;

      .container {
        display: none;
      }
    }

    &-social {
      h4 {
        font-family: $font2;
        font-weight: 400;
        margin: 0;
      }

      .snazzycp-social,
      h4 {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .bottombar {
    .brand {
      @include flex-width($brandWidth);

      font-size: 0.5em;

      @media (min-width: $screen-md) {
        font-size: 0.75em;
      }

      .home & {
        @media (min-width: $screen-lg) {
          font-size: 1em;
        }
      }
    }

    .nav-primary {
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }
}
