.menu-fixed {
  position: sticky;
  top: 0;
  z-index: 2;
  transition: 300ms ease all;

  .going-down & {
    transform: translateY(-100%);
  }

  .menu-open & {
    @media (max-width: $screen-sm-max) {
      transform: none;
    }
  }

  .topbar,
  .bottombar {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-menu {
      flex: auto;
      text-align: right;

      li {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .topbar {
    @media (max-width: $screen-sm-max) {
      height: 0.25em;

      .container {
        display: none;
      }
    }

    &-social {
      h4 {
        font-family: $font2;
        font-weight: 400;
        margin: 0;
      }

      .snazzycp-social,
      h4 {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .bottombar {
    .brand {
      @include flex-width($brandWidth);

      font-size: 0.5em;
    }

    .nav-primary {
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }
}
