.icongrid {
  position: relative;

  &-icon {
    @include position(absolute, 1, 0, auto, auto, 0);

    width: 2.25em;
    text-align: center;

    @media (min-width: $screen-xs) {
      position: static;
      width: auto;
    }

    i {
      font-size: 1.5em;

      @media (min-width: $screen-xs) {
        font-size: 2em;
        margin: 0 0 0.25em;
      }

      @media (min-width: $screen-sm) {
        font-size: 3em;
        margin: 0 0 0.25em;
      }

      @media (min-width: $screen-md) {
        font-size: 4.5em;
      }

      @media (min-width: $screen-lg) {
        font-size: 5.25em;
      }
    }
  }

  &-content {
    padding-left: 3em;

    @media (min-width: $screen-xs) {
      padding: 0 0.5em;
      text-align: center;
    }
  }
}
